player-connection-mode=Listen
player-connection-guid=103548174
player-connection-debug=0
player-connection-project-name=Reality Reads
player-connection-ip=192.168.30.249
player-connection-ip=169.254.179.148
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cef43131760e495084937114498ced5c
